---
layout: default
---

<!-- about.html -->
<div class="banner">
<div class="banner__content">
  <div class="banner__text">
    <strong>Update:</strong> the competition start date has been moved to <strong>August 15</strong>. The organisation team is working hard to offer you the best start-kit possible. In the meantime, you can already familiarize yourself with <a href="https://eeg2025.github.io/data/">the dataset</a>.
  </div>
  <button class="banner__close" type="button" data-dismiss="banner" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
<script>
document.querySelector('.banner__close').addEventListener('click', function() {
  document.querySelector('.banner').style.display = 'none';
});
</script>

      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }} <span class="font-weight-bold"></span>{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
