<!DOCTYPE html>
<meta charset="utf-8">
<script src="/assets/js/distillpub/template.v2.js"></script>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  <style>
    .banner {
      background: #ff7a34;
      top: 0;
    }
  
    .banner__content {
      max-width: 1000px;
      padding: 16px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  
    .banner__text {
      font-size: 1.4;
      flex-grow: 1;
    }
  
    .banner__close {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .banner__text strong a,
    .banner__close > span {
      color: #ffffff;
    }
  </style>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <div class="banner">
      <div class="banner__content">
        <div class="banner__text">
          <strong>Update:</strong> the competition start date has been moved to <strong>August 8</strong>. The organisation team is working hard to offer you the best start-kit possible. In the meantime, you can already familiarize yourself with <a href="https://eeg2025.github.io/data/">the dataset</a>.
        </div>
        <button class="banner__close" type="button" data-dismiss="banner" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <script>
      document.querySelector('.banner__close').addEventListener('click', function() {
        document.querySelector('.banner').style.display = 'none';
      });
    </script>

    <!-- Header -->
    {% include scripts/jquery.html %}
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <d-appendix>
      <d-footnote-list></d-footnote-list>
      <d-citation-list></d-citation-list>
    </d-appendix>

    <!-- Footer -->
    {%- include footer.html %}

    {%- if page.bibliography -%}
    <d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}"></d-bibliography>
    {%- endif -%}

    <!-- JavaScripts -->
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
