<!DOCTYPE html>
<meta charset="utf-8">
<script src="/assets/js/distillpub/template.v2.js"></script>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <div class="banner">
      <div class="banner__content">
        <div class="banner__text">
          <strong>Update:</strong> the competition start date has been moved to <strong>August 8</strong>. The organisation team is working hard to offer you the best start-kit possible. In the meantime, you can already familiarize yourself with the dataset.
        </div>
        <button class="banner__close" type="button" data-dismiss="banner" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- Header -->
    {% include scripts/jquery.html %}
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <d-appendix>
      <d-footnote-list></d-footnote-list>
      <d-citation-list></d-citation-list>
    </d-appendix>

    <!-- Footer -->
    {%- include footer.html %}

    {%- if page.bibliography -%}
    <d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}"></d-bibliography>
    {%- endif -%}

    <!-- JavaScripts -->
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
