---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    Over the past three years, diffusion models have established themselves as a new generative modelling paradigm.
    Their empirical successes have broadened the applications of generative modelling to image, video, audio, 3D
    synthesis and science applications. As diffusion models become more and more popular and are applied to extremely
    diverse problems, it also becomes harder to track the key contributions in the field. This workshop aims to keep
    track of the recent advances and set guidelines for future research. By bringing together practice, methodology and
    theory actors we aim at identifying unexplored areas and pushing the frontier of diffusion model research.


    <h3 class="post-title"><span class="font-weight-bold">Contact</span></h3>
    For any further question drop an email at
    <a href="mailto:urgent.challenge@gmail.com" target="_blank">urgent.challenge@gmail.com</a>.

  </article>

</div>
